- if @restaurant.errors.any?
  %section#errors
    %h3
      = pluralize @restaurant.errors.count, "error"
      prohibited this restaurant from being saved:
    %ul.alert.alert-danger{:role => "alert", :style => "width: 400px;"}
      - @restaurant.errors.full_messages.each do |message|
        = message

= render :partial => "form"
